.form {
    width: 544px;
    height: 480px;
    border: 1px solid #E7E7E7;
}

.form_nav {
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #E7E7E7;

}

.form_navButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 239px;
    height: 70px;
    text-decoration: none;
}

.form_navButton:hover {
    border-bottom: 1px solid black;

}

.form_container {
    width: 480px;
    margin: 32px 0px 32px 32px;

}

.form_entryField {
    margin-bottom: 32px;
}

.input_description {
    font-size: 16px;
    margin-bottom: 4px;
}

.form_input {
    padding-left: 20px;
    width: 100%;
    height: 56px;
    margin: 0px auto;
    box-sizing: border-box;
}

.form_submit {
    width: 100%;
    height: 56px;
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    font-size: 24px;
    cursor: pointer;
}

.form_submit:active {
    color: rgb(236, 223, 223);
}